html, body{
    margin: 10px;
    font-family: sans-serif;
    scroll-behavior: smooth;
    background-color: #505050;
    color: white;
}



.container{
    height: 100%;
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)) ; */
    grid-template-columns: 40px 1fr 40px;
    /* grid-template-rows: repeat(3, minmax(100px,100px));  */
    gap: 10px;
    /* grid-template-areas: 
        "h h h h h h h h h h h ."
        ". c c c c c c c c c . ."
        "f f f f f f f f f f f f";
     */
    
}
.container > *{
    grid-column: 2;
    min-width: 0;
}

.nav-list{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
}

.nav-list > li{
    float: left;
}
li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
}
a:link{
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}
  
a:hover {
    text-decoration: underline;
}
  
a:active {
    text-decoration: underline;
}


/* main content styling */
.content{
    /* grid-area: c; */
    /* border: 3px solid blue; */
}
.about{
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
    margin-bottom: 40px;
    font-size: xx-large;
    color: coral;
    font-weight: bold;
}
.skills > p{
    margin-left: 20px;
    margin-top: 30px;
    font-weight: bold;
    font-size: large;
    text-align: center;
}

.skills-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-auto-rows: 100px;
    gap: 5px;
}

.skills-list > li{
    list-style-type: none;
    text-align: center;
    margin-bottom: 40px;
    padding-top: 15px;
    margin-right: 8px;

}
.skills-list > li:hover{
    border: 2px solid #98ff98;
    border-radius: 4px;
}

/* Project list styling */
.projects > p{
    font-weight: bold;
    font-size: large;
    text-align: center;
}
.project-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
    /* grid-auto-rows: 100px; */
    gap: 20px;
}

.project-container > div{
    border: 2px solid #98ff98;
    border-radius: 5px;
    
}

.project-card-image{
    width: 100%;
    display: block;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    overflow: hidden;
}
.project-card-content{
    line-height: 1.5;
    padding: 15px;
    background: #fafafa;
    font-size: 0.9em;
    color: black;
}
.project-card-content > h3{
    margin-top: 0;
    text-align: center;
}
.project-card-content > p{
    margin-bottom: 0;
}
.project-card-footer{
    font-size: 0.8em;
    padding: 15px;
    background: #eeeeee;
    border-bottom: 2px solid #cccccc;
    border-top: 15px;
    align-items: center;
    text-align: center;
    color: #555555;
}
.project-link{
    color: #64968c;
}

/* Contact Section styling */
.contact-section{
    margin-top: 40px;
    margin-bottom: 30px;
}

.contact-header, .contact-text{
    text-align: center;
}


.social-media-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-auto-rows: 100px;
    gap: 5px;
}
.social-media-list > li{
    list-style-type: none;
    text-align: center;
    margin-bottom: 40px;
    margin-right: 8px;
    color: aqua;
}




/* Footer styling */
.footer{
    /* grid-area: f; */
    font-size: 0.8em;
    text-align: center;
}